.container {
	background:radial-gradient(white,#F6F4F4);
}
#game-info{
	width: 346px;
	text-align: justify;
}

#page-title{
color: #12317F;

}

#random-number-box > p{
	
	height: 100px;
	padding-top: 30px;
	font-size: 40px;
	text-align: center;
	

}
#wins-loss-box > p{
	
	height: 90px;
	
	font-size: 20px;
	text-align: center;
}
.thumbnail{
	height: 110px;
	width: 110px;
}
#score-box > p{
	
	
	font-size: 30px;
	height: 90px;
	text-align: center;
}